services:
  - type: web
    name: scraper-api
    env: python
    envVars:
      - key: PLAYWRIGHT_BROWSERS_PATH
        value: playwright-browsers
    plan: starter
    buildCommand: "pip install -r requirements.txt && playwright install --with-deps"
    startCommand: "python api_server.py"

  - type: worker
    name: scraper-worker
    plan: starter
    dockerfilePath: ./Dockerfile
