services:
  - type: worker
    name: checkin-scraper
    env: python
    plan: starter

    envVars:
      PYTHON_VERSION: 3.11
      PLAYWRIGHT_BROWSERS_PATH: "/opt/render/project/.playwright"

    buildCommand: |
      mkdir -p logs
      mkdir -p /opt/render/project/.playwright
      pip install -r requirements.txt
      PLAYWRIGHT_BROWSERS_PATH=/opt/render/project/.playwright playwright install chromium

    startCommand: |
      PLAYWRIGHT_BROWSERS_PATH=/opt/render/project/.playwright playwright install chromium
      python main_checkin.py
