services:
  - type: worker
    name: checkin-scraper
    env: python
    plan: starter

    envVars:
      PYTHON_VERSION: 3.11

    buildCommand: |
      mkdir -p logs
      pip install -r requirements.txt
      python -m playwright install-deps
      python -m playwright install chromium

    startCommand: python main_checkin.py
